<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Le Le Car Le</title>
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .container {
      width: 80%;
      margin: 0 auto;
      /* Center the DIV horizontally */
    }

    .fixed-footer {
      width: 100%;
      position: fixed;
      background: #333;
      padding: 10px 0;
      color: #fff;
    }

    .fixed-footer {
      bottom: 0;
    }
  </style>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    $(function () {
      $("#header").load("header.html");
      $("#footer").load("footer.html");
    });
  </script>
</head>

<body>
  <div class="container">
    <div id="header"></div>
  </div>
  <div style="background-image: url('images/Body.jpg');">
  </div>
  <div class="fixed-footer">
    <div id="footer">Copyright &copy; Bodhitavya kashyap</div>
  </div>
</body>

</html>